# 平均の公式

$$
\bar{x}=\frac{x1 + x2 + x3 + .... + xn}{n}
$$

In [45]:
import pandas as pd

In [46]:
df = pd.read_csv('./ex1.csv')

In [47]:
df.head()

  code  score
0  A01   90.0
1  A02   50.0
2  A03    NaN
3  A04   70.0
4  A05   60.0

In [48]:
df.mean()

score    67.5
dtype: float64

In [49]:
df = df.fillna(df.mean())

In [50]:
df

  code  score
0  A01   90.0
1  A02   50.0
2  A03   67.5
3  A04   70.0
4  A05   60.0

In [51]:
df.to_csv('./submitted_ex1.csv')

# sklearnを使う

In [85]:
df = pd.read_csv('./ex1.csv')

In [86]:
df.head()

  code  score
0  A01   90.0
1  A02   50.0
2  A03    NaN
3  A04   70.0
4  A05   60.0

In [87]:
from sklearn.impute import SimpleImputer
import numpy as np

In [93]:
imputer = SimpleImputer(missing_values=np.NAN, strategy='mean')

In [94]:
df['score'] = imputer.fit_transform(df.score.values.reshape(-1, 1))

In [95]:
df.head()

  code  score
0  A01   90.0
1  A02   50.0
2  A03   67.5
3  A04   70.0
4  A05   60.0

# 演習

In [96]:
import sklearn
print(sklearn.__version__)

0.20.1

In [97]:
print(pd.__version__)

0.23.4

In [100]:
np.nan
(5 + 10 + 5 + 5 + 10) / 5

7.0

$$
\bar{x}=\frac{5 + 10 + 5 + 5 + 10}{5}
$$